<!DOCTYPE html>
<html>

<head>

    <title>Thank You</title>

    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<div class="container">

    <div style="font-size:70px;text-align:center;">
        ✅
    </div>

    <h2>Thank You!</h2>

    <p>Your donation has been recorded successfully.</p>

    <div class="success">
        ❤️ Together We Can Make A Difference ❤️
    </div>

    <br><br>

    <form action="/" method="get">
        <button type="submit">
            🏠 Go to Home
        </button>
    </form>

</div>

</body>

</html>